* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eff5f9;
}

.header {
    background-color: #00B9ED;
    height: 60px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.headerWrapper {
    background-color: #00B9ED;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.headerSearch {
    background-color: #00B9ED;
    position: absolute;
    top: 13px;
    margin-left: 135px;
}

.headerObject {
    background-color: #00B9ED;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    padding-top: 20px;
    margin-right: 4%;
}

.headerObject a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    background-color: #00B9ED;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.headerObject a:hover {
    background-color: #0b87aa;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    color: #0084c6;
}

input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

input[type="text"]:hover {
    border: 1px solid #006FC4;
}

input[type="submit"] {
    background-color: #006fC4;
    border: 1px solid #00508D;
    font-size: 16px;
    color: #FFFFFF;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 7px;
}

.tableWrapper {
    width: 800px;
    margin: 0px auto 0px auto;
}